.about {
  padding: 80px;
  max-width: 900px;
  margin: auto;
}

.about h2 {
  margin-bottom: 20px;
}

.about p {
  line-height: 1.7;
  margin-bottom: 15px;
}
.about{

  background-color: #faf9f7;
  background-image:
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.02) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.02) 75%,
      rgba(0, 0, 0, 0.02)
    );
  background-size: 36px 36px;
  min-height: 60vh;
}
