
.footer {
  background: #0f172a;
  color: #e5e7eb;
  padding-top: 40px;
  margin-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-logo {
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  color: #cbd5f5;
  line-height: 1.7;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  cursor: pointer;
}

.footer-section li:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #fff;
  color: #0f172a;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #94a3b8;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .footer {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
.footer-section a {
  text-decoration: none;
  color: #cbd5f5;
}

.footer-section a:hover {
  color: #ffffff;
}
